@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "martian";
  src: url("../public/fonts/martian.ttf");
}

@font-face {
  font-family: "outfit";
  src: url("../public/fonts/outfit.ttf");
}
